html body {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
}

header {
    display: flex;
    background-color: rgba(73, 74, 74, 1);
    max-height: 100px;
    height: 100px;
    column-gap: 30px;
    
}


.user-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.user-login a {
    display: flex;
    cursor: pointer;
}


.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-left: 2%;
}

a {
    color: rgb(171, 175, 175);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.name-site {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left: 1%;
    
    
}

