.vacancy-info {
    display: flex;
    justify-content: center;
}

.vacancy-info-top th, td {
    padding: 5px;
    text-align: left;
}

.vacancy-info-top table {
    width: 50%;
    margin-bottom: 20px;
    margin: 20px auto;
}


.vacancy-info-top {
    background-color: rgba(217, 217, 217, 1);
    margin: 30px 0 30px 30px;
    width: 600px;
    text-align: center;
    padding-bottom: 25px;
}

.vacancy-info-other {
    background-color: rgba(217, 217, 217, 1);
    margin: 30px 0 30px 30px;
    width: 540px;
    padding: 30px 30px 30px 30px;
    font-size: 20px;
}

.title {
    font-size: 36px;
    padding-top: 20px;

}