
.container {
    display: flex;
    justify-content: center;
}

.user_choose {
    text-align: center;
    justify-content: center;
    width: 500px;
    margin-top: 10%;
}

.user_choose form {
    margin: 20px 0 20px 0;
}