{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    
    <header>
        <a href="/" class="name-site">NameSite</a>
        <nav class="nav-header">
            <a href="#">asdasda</a>
            <a href="#">asdasda</a>
            <a href="#">asdasda</a>
            <a href="#">asdasda</a>
            <a href="#">asdasda</a>
            <a href="#">asdasda</a>
        </nav>
        <a class="user-login"><img src="{% static 'img/user-logo.png' %}" alt=""></a>
    </header>
    
    <main>
        {% block content %}
        
        {% endblock content %}
    </main>

    <footer></footer>
        
</body>
</html>