{% extends 'html/base.html' %}
{% load static %}


{% block link_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">    
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
{% endblock link_block %}


{% block title %}
    Forge & Phored Site HH copy
{% endblock title %}


{% block content %}

    <div id="container">
        <div class="vacancy-all">
            <div class="title-block-vacancy">
                <h3>Доступные вакансии</h3>
                {% if messages %}
                    {% for message in messages %}
                    
                        <p class='messages'>{{ message }}</p>
                    
                    {% endfor %}
                {% endif %}
            </div>
            <div class="vacancy">
                {% for vacancy in vacancies %}
                    <a class="vacancy-card" href="{% url  'vacancy_detail' vacancy.vacancy_id %}">

                        <div class="title-card">
                            <p>{{ vacancy.title }}</p>
                        </div>

                        <div class="salary-card">
                            <p>{{ vacancy.salary }} руб. / мес.</p>
                        </div>

                        <div class="company-card">
                            <p>{{ vacancy.company }}</p>
                        </div>

                        <div class="city-card">
                            <p>{{ vacancy.city }}</p>
                        </div>
                        {% if request.user.is_authenticated %}

                            
                            {% if request.user != vacancy.owner %}
                                <form action="{% url 'vacancy_response' vacancy.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Хочу работать</button>
                                </form>
                            
                            {% else %}
                                
                                <form action="{% url 'vacancy_detail' vacancy.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Детали(вы владелец)</button>
                                </form>
                        

                            {% endif %}
                                

                        {% else %}
                            <form action="{% url 'user' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Авторизоваться</button>
                            </form>
                        {% endif %}
                        
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
    